@import 'tailwindcss';
@plugin "daisyui";


body {
  background-color: 		#FFF5EE;
  color: #1b1b1b;
  transition: all 0.3s ease-in-out;
  min-height: 100vh;
}
/* Dark Mode */
.dark body {
  background-color: #121212;
  color: #eaeaea;
}

/* Border effect for dark mode */
.dark main {
  background-color: #181818;
  border: 2px solid #292929;
  padding: 20px;
  border-radius: 10px;
}