@import 'tailwindcss';
@plugin "daisyui";

body {
  background-color: #fff5ee;
  color: #1b1b1b;
  transition: all 0.3s ease-in-out;
  min-height: 100vh;
}
/* Dark Mode */
.dark body {
  background-color: #121212;
  color: #eaeaea;
}

.light body {
  background-color: #d4d4d4;
  color: #1b1b1b;
}
main {
  border: 2px solid #d4d4d4;
  min-height: 80vh;
  padding: 20px;
  border-radius: 10px;
}
/* Border effect for dark mode */
.dark main {
  background-color: #181818;
  border: 2px solid #292929;
}

.light main {
  background-color: #f5f5f5;
}
